.contactContainer {
    /*-webkit-appearance: none; Safari */
    max-width: 1000px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
    position: relative;
    margin: auto;
}

.nameField {
    margin-bottom: 70px;
}


.contactContainer h1 {
  margin-bottom: 2rem;
}

.contactContainer form {
  width: 100%; /* Setting width to full container width */
}

.contactContainer input,
.contactContainer select,
.contactContainer textarea {
    background: grey;
    color: black;
    width: 100%;
  margin-bottom: 1rem;
}

.textareaMessage {
  width: 100%;
  height: 150px;
}

.submitButton {
  background-color: #FFC107; /* Yellow color */
  border: none; /* Remove border */
  color: black; /* Text color */
  padding: 10px 20px; /* Padding inside the button */
    float: right;
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove text decoration */
  display: inline-block; /* Make it inline block */
  font-size: 16px; /* Set font size */
  margin: 4px 2px; /* Margin around the button */
  cursor: pointer; /* Change mouse cursor on hover */
  border-radius: 8px; /* Rounded corners */
}

.submitButton:hover {
  background-color: #FFCA28; /* Lighter yellow on hover */
}
