.navbar {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 100px;
}

.navbar a {
  color: black;
}

.navbar a:hover {
  color: yellow;

  text-decoration: underline;
}

.navLinks {
  display: flex;
  gap: 10px;
  list-style-type: none; /* Removes default list styling */
  margin: 0; /* Resets default margin */
  padding: 0; /* Resets default padding */
}

.navLinks li {
  padding: 0.5rem 1rem; /* Adds padding to each link for better clickability */
}

.userSettings {
  display: flex;
  gap: 10px;
  align-items: center; /* Aligns items vertically in the center */
}

/* Add other styles for hover effects, colors, etc., as needed */
