.navbar {
  background-color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 100px;
  font-family: Georgia, serif;
  font-size: 32px;
}

.navbar a {
  color: rgb(220, 220, 112);
}

.navbar a:hover {
  color: yellow;

  text-decoration: underline;
}

.navLinks {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  padding: 0.5rem 1rem;
}

.userSettings {
  display: flex;
  gap: 50px;
  align-items: center;
}
