.pageContainer {
    /*-webkit-appearance: none; Safari */
    max-width: 1000px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
    position: relative;
    margin: auto;
}

.pageContainer textarea:focus {
    border: 5px solid black; /* Adjust the thickness of the border as needed */
    outline: none; /* Removes the default outline to ensure only your border is visible */
}


.nameField {
    margin-bottom: 70px;
}

.pageTitle {
    font-family: Georgia, Serif;
    font-size: 37px;
    color: black;
}

.pageBackground {
  height: 100vh; /* Equivalent to h-screen in Tailwind */
  background-color: #edf2f7; /* Equivalent to bg-gray-200 in Tailwind */
  padding: 1.5rem; /* Equivalent to p-6 in Tailwind */
  display: flex;
  flex-direction: column;
}



.pageContainer h1 {
  margin-bottom: 2rem;
}

.pageContainer form {
  width: 100%; /* Setting width to full container width */
}

.pageContainer input,
.pageContainer select,
.pageContainer textarea {
    background: grey;
    color: black;
    width: 100%;
    margin-bottom: 1rem;
}

.textareaMessage {
  width: 100%;
  height: 150px;

}

.submitButton {
  background-color: #FFC107; /* Yellow color */
  border: none; /* Remove border */
  color: black; /* Text color */
  padding: 10px 20px; /* Padding inside the button */
    float: right;
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove text decoration */
  display: inline-block; /* Make it inline block */
  font-size: 16px; /* Set font size */
  margin: 4px 2px; /* Margin around the button */
  cursor: pointer; /* Change mouse cursor on hover */
  border-radius: 8px; /* Rounded corners */
}

.submitButton:hover {
  background-color: #FFCA28; /* Lighter yellow on hover */
}
