/* Used on Help Screen, Register Screen, Login Screen  */
.pageContainer {
    max-width: 1000px;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222;
    color: #fff;
    position: relative;
    margin: auto;
    font-family: "Avenir Next";
    font-size: 22px;
}

.pageContainer h1 {
  margin-bottom: 2rem;
}

.pageContainer form {
  width: 100%; /* Setting width to full container width */
}

.pageContainer input,
.pageContainer select,
.pageContainer textarea {
    background: grey;
    color: black;
    width: 100%;
    margin-bottom: 1rem;
}

.pageContainer textarea:focus {
    border: 5px solid black;
    outline: none;
}

.pageBackground {
  height: 100vh;
  background-color: #edf2f7;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.pageTitle {
    font-family: Georgia, Serif;
    font-size: 37px;
    color: black;
}

.nameField {
    margin-bottom: 20px;
}

.textareaMessage {
  width: 100%;
  height: 150px;
    min-height: 175px
}

/* Used in Help Screen */
.serverMessage {
    color: green;
}

.button {
  background-color: #FFC107;
  border: none;
  color: black;
  padding: 10px 20px;
    float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: #FFCA28;
}

.optionDropDown:focus {
    border: 5px solid black;
    outline: none;
}

.messageDropDown {
    color: grey;
    font-size: 18px;
}
